@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-scroll {
  animation: ticker-scroll 30s linear infinite;
}

.ticker-scroll:hover {
  animation-play-state: paused;
}

